@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Train+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Antonio';
    background: #282828;
    color: #bdae93;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    padding: 10px;
    position: relative;
    flex-grow: 1;
}
/* Header */
.header {
    padding: 30px;  
    text-align: center;
    background: #fbf1c7;
    color: #3c3836;
    margin:0px;
    background-image:url(/style/images/tesselation.png);
    background-size: 100%;
    background-position: center;
    font-size: 20px;  
    font-family: 'antonio';
    height: 200px;
  }
  
.header h1 {
    font-size: 50px;
    font-family: 'Train One';
}
  
.header img {
    height: 150px;
}
  
/* Navbar */
.topnav {
    overflow: hidden;
    background-color: #504945;
}
  
.topnav a {
    float: left;
    display: block;
    color: #fbf1c7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    background-color: #3c3836;
    color: #fbf1c7;
}

/* Dropdowns */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #fbf1c7;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3c3836;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5c4a1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #282828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fbf1c7;
    color: #282828;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0px 15px 15px 15px;
}

.full .card h1{
    font-size: 40px;
    margin: 0px 0px 10px 0px
}
  
.full .card h2{
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    font-family: 'antonio';
}

/* footer */
.footer {
    padding: 10px;  
    background: #504945;
    color: #fbf1c7;
    background-size: 100%;
    background-position: center;
    font-size: 20px;  
    font-family: 'antonio';
    height: 200px;
    width: 100%;
    margin-top: auto;
}

/* columns */
.leftcolumn {   
    float: left;
    width: 66%;
    padding: 0px 0px 0px 10px;
  }
  
  .full {   
    float: left;
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
  
  .rightcolumn {
    float: left;
    width: 34%;
    padding: 0px 10px 0px  10px;
  }
  
  .card {
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 15px 0px;
    border-radius:5px
  }
  
  .rightcolumn .card{
    background-color: #665c5433;
    border-style: solid;
    border-width: 2px;
    border-color: #bdae93;
  }

  .leftcolumn .card{
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #bdae93;
  }
  
  .card img{
    width: 100%;
  }
  
  .testimage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .row {
    min-height: 600px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* idk */
  .line {
      width:80%;
      padding: 20%, 4px, 10%, 4px;
      height:2px;
      background-color: #bdae93;
  }